.App {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App header {
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.App header h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
  background-image: url('./title_bg.jpg');
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.crypto_container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.crypto {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.crypto img {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}
.crypto .btn {
  background: none;
  font-size: 1.3rem;
  margin: 5px;
  font-weight: 600;
  border: 1.5px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.crypto .btn_avax {
  color: #E84142;
  border-color: #E84142;
}
.crypto .btn_btc {
  color: #F7931A;
  border-color: #F7931A;
}
.crypto .btn_bnb {
  color: #F0B90B;
  border-color: #F0B90B;
}
.crypto .btn_ada {
  color: #0033AD;
  border-color: #0033AD;
}
.crypto .btn_doge {
  color: #BA9F33;
  border-color: #BA9F33;
}
.crypto .btn_eth {
  color: #343434;
  border-color: #343434;
}
.crypto .btn_dot {
  color: #E6007A;
  border-color: #E6007A;
}
.crypto .btn_sol {
  color: #7289D3;
  border-color: #7289D3;
}
.crypto .btn_xrp {
  color: #23292F;
  border-color: #23292F;
}
.crypto .btn_avax:hover, .btn_avax:active {
  color: white;
  background: #E84142;
}
.crypto .btn_btc:hover, .btn_btc:active {
  color: white;
  background: #F7931A;
}
.crypto .btn_bnb:hover, .btn_bnb:active {
  color: white;
  background: #F0B90B;
}
.crypto .btn_ada:hover, .btn_ada:active {
  color: white;
  background: #0033AD;
}
.crypto .btn_doge:hover, .btn_doge:active {
  color: white;
  background: #BA9F33;
}
.crypto .btn_eth:hover, .btn_eth:active {
  color: white;
  background: #343434;
}
.crypto .btn_dot:hover, .btn_dot:active {
  color: white;
  background: #E6007A;
}
.crypto .btn_sol:hover, .btn_sol:active {
  color: white;
  background: #7289D3;
}
.crypto .btn_xrp:hover, .btn_xrp:active {
  color: white;
  background: #23292F;
}
.price_container {
  margin: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price_container h2 {
  letter-spacing: 1.5px;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.price_container h2 span {
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .App header {
    height: 80px;
  }
  .App header h1 {
    font-size: 3.5rem;
  }
  .crypto img {
    width: 120px;
  }
  .crypto .btn {
    font-size: 1.6rem;
    margin: 8px;
  }
  .price_container h2 {
    font-size: 4rem;
  }
}